<tr>
  <td><%= restaurant.name %></td>
  <td><%= restaurant.address %></td>
  <td><%= restaurant.phone_number %></td>
  <td><%= restaurant.category %></td>
  <td><%= link_to "view", restaurant %></td>
</tr>