<table>
  <tbody>
        <tr><td id="rest-link" >Name --- <h3><%= @restaurant.name %></h3></td></tr>
        <tr><td>Adress --- <h3><%= @restaurant.address %></h3></td></tr>
        <tr><td>Phone --- <h3><%= @restaurant.phone_number %></h3></td></tr>
        <tr><td>Category --- <h3><%= @restaurant.category %></h3></td></tr>
        <td><%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %></td>
  </tbody>
</table>

<%= link_to "Restaurants list", restaurants_path %>
<hr>
<h2>Reviews</h2>
<%#= render @restaurant.reviews %>

<% @restaurant.reviews.each do |review| %>
  <%= turbo_frame_tag review do %>
    <div class="my-4">
      <div>
        <%= review.rating %> 🌟
        <%= link_to 'edit review', edit_review_path(review)%>
      </div>
      <div><%= review.content %></div>
      <hr>
    </div>
  <% end %>
<% end %>